* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

.main {
    height: 100%;
    display: grid;
    place-items: center;
}

.openModalButton {
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(43, 74, 86);
    color: white;
    cursor: pointer;
    border-radius: 05rem;
    font-size: 1.2rem;
}

.modal {
    background-color: peachpuff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    place-items: center;
}

.modal_content {
    position: relative;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.modal_buttons {
    text-align: center;
    margin-top: 1rem;

}

.modal_button {
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0px 15px;
    padding: 0.1rem 0.5rem;
}

.close_button {
    position: absolute;
    top: 4px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.1rem 0.5rem;

}

.close {
    display: none;
}